@model StoreViewModel
@using PruebaTecnica_WebMaster.Models.ImplementRepositoryPattern

@using (Html.BeginForm())
{

    <div class="modal-body form-horizontal">
        Are you want to delete @Model.Name?
    </div>
}  