@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <title> Login | FrancoGhost </title>
    <link href="~/css/login.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div class="container">
        <div class="cover">
            <div class="front">
                <img src="https://wallpapercave.com/wp/wp4313180.jpg" alt="" />
            </div>
        </div>
        <form id="account" method="post">
            <div class="form-content">
                <div class="login-form">
                    <div class="title"> Login </div>
                    <div class="input-boxes">
                        <div class="input-box">
                            <i class="fas fa-envelope"></i>
                            <input type="text" asp-for="Input.Email" placeholder="Enter your email" required autocomplete="off" />
                        </div>
                        <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input type="password" asp-for="Input.Password" placeholder="Enter your password" required />
                        </div>
                        <div class="button input-box">
                            <input type="submit" value="Submit" />
                        </div>
                        <div class="text">
                            Don't have a account? <label onClick="Info()"> Info </label>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
